[client]
port		= 33060
socket		= /tmp/abiquo.mysqld.sock

[mysqld_safe]
socket		= /tmp/abiquo.mysqld.sock
nice		= 0

[mysqld]
socket		= /tmp/abiquo.mysqld.sock
port		= 33060

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]

[isamchk]
key_buffer		= 16M
